nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background:	hsl(236, 31%, 20%);
  color: #ebeef5;
  ul {
    display: flex;
    list-style: none;
    li {
      padding-left: 1rem;
      a{
        color: #ebeef5;
      }
    }
  }
}

