<div class="component-container">
  <div class="wrapper">
    <div class="row header">
      <div class="left-header">
        <div class="item">Fav</div>
        <div class="item">Logo</div>
        <div class="item">Sport</div>
      </div>
      <div class="item sport-button">Toogle</div>
    </div>
    <div class="column">
      <div class="league-header-row">
        <div class="left-header">
          <div fxFlex class="item fav-icon">Fav</div>
          <div fxFlex class="item league-name">League</div>
          <div fxFlex class="item table-button">Btn</div>
        </div>
        <div fxFlex class="item league-button">Toogle</div>
      </div>
      <div class="day-container">
        <div class="day-header-row">
          <div class="texts-container">
            <div class="text1">Date</div>
            <div class="text2">Day</div>
          </div>
          <div class="odds-container">
            <div class="odd">1</div>
            <div class="odd">1x</div>
            <div class="odd">X</div>
            <div class="odd">2x</div>
            <div class="odd">2</div>
          </div>
        </div>
        <div class="match-row">
          <div class="texts-container">
            <div class="text1">time</div>
            <div class="text2">Match name</div>
          </div>
          <div class="odds-container">
            <div class="odd">Odd1</div>
            <div class="odd">Odd1x</div>
            <div class="odd">Oddx</div>
            <div class="odd">Odd2x</div>
            <div class="odd">Odd2</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
